<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="http://mat1.gtimg.com/www/mb/css/style_110901.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="DWrap"><div class="DTitle"><h3 class="DmainTit">Î¢²©µÇÂ¼</h3>
</div><a href="#" class="DClose close" title="¹Ø±Õ">¹Ø±Õ</a>
<div class="DLoad" style="display: none;"></div><div class="DCont">
<iframe width="571" height="187" frameborder="0" scrolling="no" 
id="QuickLoginFrame" src="mini_login.htm">
</iframe></div></div>

</body>
</html>