
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
<h2>Hello World!</h2>


喘薩佚連双燕 。。。sssss。。。。。。。。------。。。<br>

	<table>
	<tr><td>no</td><td>userId</td><td>userName</td><td>password</td></tr>
	
	#foreach($user in $userList)
	<tr><td>$velocityCount</td><td>$user.userId</td><td>$user.userName</td><td>$user.password</td></tr>
	#end
</body>
</html>
