<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="byName">
	
	<bean id="userDao" class="com.kuaileren.dao.UserDaoImpl"></bean>
	<bean id="articleDao" class="com.kuaileren.dao.ArticleDaoImpl"></bean>
	<bean id="commentDao" class="com.kuaileren.dao.CommentDaoImpl"></bean>
</beans> 
